.hover_img  { position:relative; }
.hover_img span { position:absolute; display:none; z-index:99; margin-top:-100px; margin-left: -50px; left: 0; opacity: 0.5;}
.hover_img span img {width: 200px; height: auto;}
.hover_img:hover span { display:block; }

button {
    border:none;
    background-color: transparent;
    color: #71CEEF;
}