.Home {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.Home p a {
    color: #000;
    text-decoration: underline #d5d5d5;
}

/* mobile portrait
@media (min-device-width : 320px) and (max-device-width : 480px) {
}
 */
/* 
@media (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
        
    .Home {
        padding: 80px 80px;
    }

} */